.Button {
    border-radius: 6px;
    height: 40px;
    border:none;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.1px;
    color:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}