.HideButton {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    box-shadow: 0px 8px 28px rgba(0, 0, 0, 0.05), 2px 2px 15px rgba(0, 44, 175, 0.05);
    border: 1px solid #DFE5F9;
    cursor: pointer;
    position: absolute;
    top:78px;
    right:-12px;
    z-index: 2;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

    .Arrow {
        width: 12px;
        transform: rotate(180deg);


        &::after {
            transform: rotate(45deg);
            top:1px;
        }

        &::before {
            transform: rotate(-45deg);
            top:-2px;
        }


        &,&::after,&::before {
            background-color: #AFB6C6;
            height: 1px;
        }

        &::after,&::before {
            content: '';
            width: 5px;
            display: block;
            position: relative;
        }

        &.Active {
            transform: rotate(0deg);
        }
    }
}